<h1>Rental Record for <em>Roger Ebert</em></h1>
<ol>
<li><em>Captain Marvel</em>:6</li>
<li><em>Aladdin</em>:1.5</li>
<li><em>Back To The Future</em>:2</li>
</ol>
<p>Amount owed is <em>9.5</em>
</p><p>You earned <em>4</em> frequent renter points</p>
